/* imports */
/* Fonts (Playfair Display, Work Sans and Inter) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,800;1,400&family=Work+Sans:ital,wght@0,100;0,300;1,100&display=swap");

/* Setting defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-block-start: 5em;
}

body {
  --primary-color: #81b622;
  --secondary-color: #ecf87f;
  --dark-color: #59981a;
  --darker-color: #3d550c;

  font-family: "Inter", sans-serif;

  /* padding: 5em 0px; */
  padding-top: 5em;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

/* Header */
.navbar {
  top: 0;
  position: fixed;
  z-index: 1;
  height: 5em;
  width: 100%;
  background-color: var(--primary-color);
  overflow: hidden;
}

.navbarcontent {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 5em;
  padding: 0.5em;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 1em;
  height: 100%;
  padding: 0px 0px;
}

.logo img {
  object-fit: cover;
  border-radius: 100%;
}

.logo h1 {
  align-self: center;
  color: white;
  font-family: "Playfair Display", sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2ch;
  margin-top: 0.35em;
}

nav ul li {
  align-self: center;
}

.mobilenav {
  display: none;
  align-self: center;
  /* height: 100%; */
  min-width: 2rem;
  text-align: center;
}

#mobilenavcheck {
  display: none;
}

#mobilenavcheck:checked ~ .mobilenavmenu {
  transform: translateY(0%);
}

.mobilenav span {
  color: white;
  margin-top: 0.35em;
  font-size: 2rem;
  height: 100%;
}

.mobilenavmenu {
  display: none;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 15px #00000094;
  background-color: #3d550c;
}

.mobilenavmenu {
  transform: translateY(-110%);

  /* Animation */
  transition: 0.3s;
}

.mobilenavmenu ul li {
  text-align: right;
  color: white;
  padding: 0.5rem 0.5rem;
  font-size: 2rem;
  /* Animation */
  transition: all 0.2s;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Sections */
section:not(#hero) {
  margin-top: 2%;
}

section:not(#hero) h1 {
  text-align: center;
}

/* Hero */

#hero {
  width: 100%;
  height: 20rem;
  background-image: linear-gradient(#00000063, #000000b0), url("./img/hero.jpg");
  background-position: center;
  background-size: 250% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;

  /* Animation */
  transition: ease 0.3s;
}

#hero h1 {
  font-family: "Playfair Display", sans-serif;

  /* Animation */
  transition: ease 0.3s;
}

#hero p {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  /* Animation */
  transition: ease 0.3s;
}

/* Content */
.content {
  padding: 0px 5%;
}

/* About */
/* #quem div {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
} */

#quem p {
  flex: 2;
  /* font-size: clamp(1rem, 600vw 5rem); */
  /* font-size: 1.75rem */
}

.dog {
  display: block;
  flex: 1;
  width: 35%;
  margin: 1rem;
  border: #263606 solid;
  border-radius: 0.5em;
  object-fit: cover;
  margin: 1rem auto;
  box-shadow: 0px 0px 20px 1px #59981a;
}

.gallery {
  gap: 1%;
  border: #263606 solid;
  border-radius: 5px;
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 600px;
  background-color: #3d550c;
  box-shadow: 0px 0px 20px 1px #59981a;
}

.gallery img {
  object-fit: cover;
  height: 100%;
  width: auto;
}

/* Product cards */

#gramas .flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
  padding: 5%;
}

.card {
  flex: 1 1 200px;
  max-width: 200px;
  /* max-height: 300px; */
  border: 3px solid var(--darker-color);
  border-radius: 0.5em;
  margin: 0px auto;
  /* overflow: hidden; */
  box-shadow: rgba(0, 0, 0, 0.493) 0px 0px 0.5em;
}

.card .description {
  /* background-color: red; */
  box-shadow: 0px -1.7rem 1rem -0.7rem white inset;
  /* height: 5rem; */
  overflow: hidden;
  text-align: center;
  margin-bottom: 5%;
  /* text-overflow: ellipsis; */
}

.card .title {
  text-align: center;
}

.card .title p {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  font-weight: 600;
}

.card img {
  width: 100%;
  /* height: 5%; */
  height: 40%;
  object-fit: cover;
}

/* Contact info */

#contato ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 5% auto;
}

#contato a {
  color: #59981a;
}

/* Footer */

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 2%;
  margin-top: 5%;
}

/* ---------------- */

/* Animations and extras */

#hero:hover {
  background-size: 275% auto;
}

#hero:hover h1 {
  font-size: 1.75rem;
}

#hero:hover p {
  font-size: 1.2rem;
}

.mobilenavmenu ul li:hover {
  background-color: #263606;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 0px 0px 5px 5px;
}

/* Handle */
.gallery::-webkit-scrollbar-thumb {
  background: #59981a;
}

::-webkit-scrollbar-thumb {
  background: #59981a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #81b622;
}

/* ---------------- */

/* Responsiveness Extras */

@media screen and (max-width: 800px) {
  nav {
    display: none;
  }

  .mobilenav {
    display: block;
  }

  .mobilenavmenu {
    display: block;
  }

  #quem div {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
  }
}
